## Introduction to Python Exercises

![](https://github.com/rpi-techfundamentals/hm-01-starter/blob/master/notsaved.png?raw=1)

**Save your working file in Google drive so that all changes will be saved as you work. MAKE SURE that your final version is saved to GitHub.** 

Before you turn this in, make sure everything runs as expected. First, restart the kernel (in the menu, select Kernel → Restart) and then run all cells (in the menubar, select Cell → Run All).  You can speak with others regarding the assignment but all work must be your own. 


### This is a 30 point assignment.

**You may find it useful to go through the notebooks from the course materials when doing these exercises.**

**If you attempt to fake passing the tests you will receive a 0 on the assignment and it will be considered an ethical violation.**

In [537]:
files = "https://github.com/rpi-techfundamentals/hm-03-starter/raw/master/files.zip"
!pip install otter-grader && wget $files && unzip -o files.zip

Requirement already satisfied: otter-grader in /usr/local/lib/python3.6/dist-packages (1.1.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from otter-grader) (50.3.0)
Requirement already satisfied: docker in /usr/local/lib/python3.6/dist-packages (from otter-grader) (4.3.1)
Requirement already satisfied: tornado in /usr/local/lib/python3.6/dist-packages (from otter-grader) (5.1.1)
Requirement already satisfied: pyyaml in /usr/local/lib/python3.6/dist-packages (from otter-grader) (3.13)
Requirement already satisfied: dill in /usr/local/lib/python3.6/dist-packages (from otter-grader) (0.3.2)
Requirement already satisfied: ipython in /usr/local/lib/python3.6/dist-packages (from otter-grader) (5.5.0)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.6/dist-packages (from otter-grader) (2.11.2)
Requirement already satisfied: nbconvert<6.0.0 in /usr/local/lib/python3.6/dist-packages (from otter-grader) (5.6.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from otter-grader) (4.41.1)
Requirement already satisfied: PyPDF2 in /usr/local/lib/python3.6/dist-packages (from otter-grader) (1.26.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from otter-grader) (1.0.5)
Requirement already satisfied: pdfkit in /usr/local/lib/python3.6/dist-packages (from otter-grader) (0.6.1)
Requirement already satisfied: nbformat in /usr/local/lib/python3.6/dist-packages (from otter-grader) (5.0.7)
Requirement already satisfied: six>=1.4.0 in /usr/local/lib/python3.6/dist-packages (from docker->otter-grader) (1.15.0)
Requirement already satisfied: websocket-client>=0.32.0 in /usr/local/lib/python3.6/dist-packages (from docker->otter-grader) (0.57.0)
Requirement already satisfied: requests!=2.18.0,>=2.14.2 in /usr/local/lib/python3.6/dist-packages (from docker->otter-grader) (2.23.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (4.4.2)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (4.3.3)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (0.7.5)
Requirement already satisfied: simplegeneric>0.8 in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (0.8.1)
Requirement already satisfied: prompt-toolkit<2.0.0,>=1.0.4 in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (1.0.18)
Requirement already satisfied: pexpect; sys_platform != "win32" in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (4.8.0)
Requirement already satisfied: pygments in /usr/local/lib/python3.6/dist-packages (from ipython->otter-grader) (2.6.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.6/dist-packages (from jinja2->otter-grader) (1.1.1)
Requirement already satisfied: jupyter-core in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (4.6.3)
Requirement already satisfied: entrypoints>=0.2.2 in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (0.3)
Requirement already satisfied: bleach in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (3.1.5)
Requirement already satisfied: testpath in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (0.4.4)
Requirement already satisfied: mistune<2,>=0.8.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (0.8.4)
Requirement already satisfied: defusedxml in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (0.6.0)
Requirement already satisfied: pandocfilters>=1.4.1 in /usr/local/lib/python3.6/dist-packages (from nbconvert<6.0.0->otter-grader) (1.4.2)
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from pandas->otter-grader) (1.18.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas->otter-grader) (2018.9)
Requirement already satisfied: python-dateutil>=2.6.1 in /usr/local/lib/python3.6/dist-packages (from pandas->otter-grader) (2.8.1)
Requirement already satisfied: ipython-genutils in /usr/local/lib/python3.6/dist-packages (from nbformat->otter-grader) (0.2.0)
Requirement already satisfied: jsonschema!=2.5.0,>=2.4 in /usr/local/lib/python3.6/dist-packages (from nbformat->otter-grader) (2.6.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests!=2.18.0,>=2.14.2->docker->otter-grader) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests!=2.18.0,>=2.14.2->docker->otter-grader) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests!=2.18.0,>=2.14.2->docker->otter-grader) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests!=2.18.0,>=2.14.2->docker->otter-grader) (2020.6.20)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.6/dist-packages (from prompt-toolkit<2.0.0,>=1.0.4->ipython->otter-grader) (0.2.5)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.6/dist-packages (from pexpect; sys_platform != "win32"->ipython->otter-grader) (0.6.0)
Requirement already satisfied: packaging in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert<6.0.0->otter-grader) (20.4)
Requirement already satisfied: webencodings in /usr/local/lib/python3.6/dist-packages (from bleach->nbconvert<6.0.0->otter-grader) (0.5.1)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.6/dist-packages (from packaging->bleach->nbconvert<6.0.0->otter-grader) (2.4.7)
--2020-09-19 03:06:51--  https://github.com/rpi-techfundamentals/hm-03-starter/raw/master/files.zip
Resolving github.com (github.com)... 140.82.112.3
Connecting to github.com (github.com)|140.82.112.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/rpi-techfundamentals/hm-03-starter/master/files.zip [following]
--2020-09-19 03:06:51--  https://raw.githubusercontent.com/rpi-techfundamentals/hm-03-starter/master/files.zip
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 45953 (45K) [application/zip]
Saving to: ‘files.zip.2’

files.zip.2         100%[===================>]  44.88K  --.-KB/s    in 0.02s

2020-09-19 03:06:51 (1.86 MB/s) - ‘files.zip.2’ saved [45953/45953]

Archive:  files.zip
  inflating: input/test.csv
  inflating: input/iris.csv
  inflating: input/train.csv
  inflating: tests/q01.py
  inflating: tests/q11.py
  inflating: tests/q05.py
 extracting: tests/__init__.py
  inflating: tests/q14.py
  inflating: tests/q10.py
  inflating: tests/qname.py
  inflating: tests/q07.py
  inflating: tests/q03.py
  inflating: tests/q13.py
  inflating: tests/q02.py
  inflating: tests/q12.py
  inflating: tests/q06.py
  inflating: tests/.ipynb_checkpoints/q09-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q13-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q14-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q03-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q07-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q10-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q11-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q06-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q02-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q05-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q12-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q01-checkpoint.py
  inflating: tests/.ipynb_checkpoints/q08-checkpoint.py
  inflating: tests/q09.py
  inflating: tests/q08.py
  inflating: hm.ok

In [538]:
#Run this. It initiates autograding. 
import otter
grader = otter.Notebook()

## Exercises - For and If and Functions

(1). Create a function `list_step` that accepts 3 variables (`start`, `stop`, `step`).  The function returns a list starting at `start`, ending at `stop`, and with a step of `step`.

For example:

`list_step(5, 19, 2)`

Should return: 

`[5, 7, 9, 11, 13, 15, 17]`

In [539]:
#Answer question 1 here.
def list_step(start, stop, step): return list(range(start, stop, step))
list_step(5, 19, 2)

[5, 7, 9, 11, 13, 15, 17]

In [540]:
list1= list_step(5, 19, 2) #include this code
grader.check('q01')

    All tests passed!

(2). Create a function `list_divisible` that accepts 3 variables (`start`, `stop`, `divisible`).  Use a for loop to create a list of all numbers from `start` to `stop` which are divisible by `divisible`.

For example:

`list_divisible(1, 50, 7)`

Should return: 

`[7, 14, 21, 28, 35, 42, 49]`

In [541]:
#Answer question 2 here.
import numpy as np
# def list_divisible (start, stop, divisible):
#  # without loop
#  num_list = np.arange(start, stop, dtype=int)
#  mod_condition = (num_list % divisible == 0)
#  return num_list[mod_condition].tolist()
def list_divisible (start, stop, divisible):
  # with loop
  divisible_list = []
  for i in range(start, stop):
    if i % divisible == 0:
        divisible_list += [i]
  return divisible_list
list_divisible(1, 50, 7)

[7, 14, 21, 28, 35, 42, 49]

In [542]:
list2= list_divisible(1, 50, 7) #include this code
grader.check('q02')

    All tests passed!

(3). Create a function `list_divisible_not` that accepts 4 variables (`start`, `stop`, `divisible`, `not_divisible`).  Use a for loop to create a list of all numbers from `start` to `stop` which are divisible by `divisible` but not divisible by `not_divisible`.

For example:

`list_divisible_not(1, 100, 4, 3)`

Should return: 

`[4, 8, 16, 20, 28, 32, 40, 44, 52, 56, 64, 68, 76, 80, 88, 92]`

In [543]:
#Answer question 3 here.
import numpy as np
# def list_divisible_not (start, stop, divisible, not_divisible):
#   num_list = np.arange(start=start, stop=stop)
#   divisible_condition = (num_list % divisible == 0)
#   not_divisible_condition = (num_list % not_divisible != 0)
#   return num_list[divisible_condition & not_divisible_condition].tolist()
def list_divisible_not (start, stop, divisible, not_divisible):
  # with loop
  divisible_list = []
  for i in range(start, stop):
    if (i % divisible == 0) and (i % not_divisible != 0):
        divisible_list += [i]
  return divisible_list
list_divisible_not(1, 100, 4, 3)

[4, 8, 16, 20, 28, 32, 40, 44, 52, 56, 64, 68, 76, 80, 88, 92]

In [544]:
list3= list_divisible_not(1, 100, 4, 3) #include this code
grader.check('q03')

    All tests passed!

## Exercises-Titanic

The following exercises will use the titanic data from Kaggle.  I've included it in the input folder just like Kaggle.

In [545]:
import numpy as np 
import pandas as pd 

# Input data files are available in the "../input/" directory.
# Let's input them into a Pandas DataFrame
train = pd.read_csv("./input/train.csv")
test  = pd.read_csv("./input/test.csv")

(4) What is the key difference between the train and the test?

In [546]:
man4="""
train -> data used to construct model
test -> data used to evaluate the model built
"""

(5) Create a new column `family` that is equal to the `SibSp` * `Parch` for both the train and the test dataframes.  DON'T use a `for` loop.

In [547]:
#q05 Answer
train['family'] = train.SibSp * train.Parch
test['family'] = test.SibSp * test.Parch

In [548]:
grader.check('q05')

    All tests passed!


(6). While we can submit our answer to Kaggle to see how it will perform, we can also utilize our training data to assess accuracy. Accuracy is the percentage of predictions made correctly-i.e., the percentage of people in which our prediction regarding their survival is correct. In other words, accuracy = (#correct predictions)/(Total # of predictions). Create a function `generate_accuracy` which accepts two Pandas series objects (`predicted`, `actual`) and returns the accuracy.  

For example, when a and b are two different Pandas Series: 
`generate_accuracy(predicted, actual)`

For the sample data below, the data should retun `50.0` (i.e., a percentage).

In [549]:
#Example DATA
import pandas as pd
ex = [{'predicted': 1, 'actual': 1},
         {'predicted': 1,  'actual': 0},
         {'predicted': 0,  'actual': 1},
         {'predicted': 0,  'actual': 0} ]

df = pd.DataFrame(ex)

In [550]:
#Answer

def generate_accuracy (predicted, actual):
  '''
  Predicted is the a Pandas Series
  Actual is the a Pandas Series
  '''
  #x = pd.Series(predicted.tolist(), name='predicted')
  #y = pd.Series(actual.tolist(),  name='actual')
  df_acc = pd.DataFrame({"predicted":predicted, "actual":actual})
  condition1 = (df_acc['predicted'] == df_acc['actual'])
  condition2 = (df_acc['predicted'] != df_acc['actual'])
  df_acc.loc[condition1, 'accuracy'] = 1
  df_acc.loc[condition2, 'accuracy'] = 0
  return df_acc['accuracy'].sum() / len(df_acc['predicted']) * 100

In [551]:
generate_accuracy(df.predicted,df.actual)

50.0

In [552]:
grader.check('q06')

    All tests passed!

(7) Create a column `PredEveryoneDies` which is equal to 0 for everyone in both training and testing datasets.

In [553]:
#Answer
train['PredEveryoneDies'] = 0
test['PredEveryoneDies'] = 0
test['PredEveryoneDies'] = test.PredEveryoneDies.astype(int)
train['PredEveryoneDies'] = train.PredEveryoneDies.astype(int)

In [554]:
grader.check('q07')

    All tests passed!

(8) Find the accuracy of `PredEveryoneDies` in predicting `Survived` using the function `generate_accuracy` that you created earlier and assign it to the `AccEveryoneDies` variable.

In [555]:
# Answer
AccEveryoneDies = generate_accuracy(train.PredEveryoneDies, train.Survived)

In [556]:
grader.check('q08')

    All tests passed!

(9) In both the training and testing datasets, create the column `PredGender` that is 1 -- if the person is a woman and 0 -- if the person is a man. (This is based on the "women and children first" law of shipwrecks).  Then set `AccGender` to the accuracy of the `PredGender` in the Train dataset.

In [557]:
#@title
#Answer
def pred_gender (df_data):
  condition1 = (df_data['Sex'] == 'male')
  condition2 = (df_data['Sex'] == 'female')
  df_data.loc[condition1, 'PredGender'] = 0
  df_data.loc[condition2, 'PredGender'] = 1
  df_data['PredGender'] = df_data.PredGender.astype(int)
  return df_data

train = pred_gender(train)
test = pred_gender(test)
#AccGender = generate_accuracy(train.PredGender, train.Survived)
#AccGender

In [558]:
grader.check('q09')
train.describe()

       PassengerId    Survived  ...  PredEveryoneDies  PredGender
count   891.000000  891.000000  ...             891.0  891.000000
mean    446.000000    0.383838  ...               0.0    0.352413
std     257.353842    0.486592  ...               0.0    0.477990
min       1.000000    0.000000  ...               0.0    0.000000
25%     223.500000    0.000000  ...               0.0    0.000000
50%     446.000000    0.000000  ...               0.0    0.000000
75%     668.500000    1.000000  ...               0.0    1.000000
max     891.000000    1.000000  ...               0.0    1.000000

[8 rows x 10 columns]

(10). Create a `generate_submission` function that accepts a DataFrame, a target column, and a filename (`df`, `target`, `filename`) and writes out the submission file with just the `passengerID` and the `Survived` columns, where the `Survived` column is equal to the target column.

For example:
`submitdie = generate_submission(train, 'PredEveryoneDies', 'submiteveryonedies.csv')`

Should return a dataframe with just `passengerID` and the `Survived` column.  

**Make sure your submission file prediction for Survived is an integer and not at float. If you submit a float it may not work.**

In [559]:
#Answer
def generate_submission (df, target, filename):
  df = df.loc[:,['PassengerId', target]]
  # But we have to change the column name.
  # Option 1: submission.columns = ['PassengerId', 'Survived']
  # Option 2: Rename command.
  df.rename(columns={target: 'Survived'}, inplace=True)
  df.to_csv(filename, index=False)
  return df

In [560]:
grader.check('q10')
train.describe()

       PassengerId    Survived  ...  PredEveryoneDies  PredGender
count   891.000000  891.000000  ...             891.0  891.000000
mean    446.000000    0.383838  ...               0.0    0.352413
std     257.353842    0.486592  ...               0.0    0.477990
min       1.000000    0.000000  ...               0.0    0.000000
25%     223.500000    0.000000  ...               0.0    0.000000
50%     446.000000    0.000000  ...               0.0    0.000000
75%     668.500000    1.000000  ...               0.0    1.000000
max     891.000000    1.000000  ...               0.0    1.000000

[8 rows x 10 columns]

(11).  To use the [women and children first](https://en.wikipedia.org/wiki/Women_and_children_first) protocol, we will need to use the age field. This has some missing values. We are going to replace null values in the train and test set with the median value for each.  


For this particular question: 

Set the variables `AgeMissingTrain` and `AgeMissingTest` using the count of the number of missing values in the train and test sets, respectively.

Set the variable `AgeMedianTrain` and `AgeMedianTest` using the median age of the train and test sets, respectively.

In [561]:
#Answer
def find_missing_value (df_data, column):
  condition1 = (df_data['Age'].isna())
  counting = condition1.sum()
  return counting

def find_median_value (df_data, column):
  return df_data['Age'].median()

AgeMissingTrain = find_missing_value(train, 'Age')
AgeMissingTest = find_missing_value(test, 'Age')

AgeMedianTrain = find_median_value(train, 'Age')
AgeMedianTest = find_median_value(test, 'Age')
train.describe()

       PassengerId    Survived  ...  PredEveryoneDies  PredGender
count   891.000000  891.000000  ...             891.0  891.000000
mean    446.000000    0.383838  ...               0.0    0.352413
std     257.353842    0.486592  ...               0.0    0.477990
min       1.000000    0.000000  ...               0.0    0.000000
25%     223.500000    0.000000  ...               0.0    0.000000
50%     446.000000    0.000000  ...               0.0    0.000000
75%     668.500000    1.000000  ...               0.0    1.000000
max     891.000000    1.000000  ...               0.0    1.000000

[8 rows x 10 columns]

In [562]:
grader.check('q11')
train.describe()

       PassengerId    Survived  ...  PredEveryoneDies  PredGender
count   891.000000  891.000000  ...             891.0  891.000000
mean    446.000000    0.383838  ...               0.0    0.352413
std     257.353842    0.486592  ...               0.0    0.477990
min       1.000000    0.000000  ...               0.0    0.000000
25%     223.500000    0.000000  ...               0.0    0.000000
50%     446.000000    0.000000  ...               0.0    0.000000
75%     668.500000    1.000000  ...               0.0    1.000000
max     891.000000    1.000000  ...               0.0    1.000000

[8 rows x 10 columns]

(12) For rows in which the age value is  missing, set the age to the appropriate median value for the train/test set.

In [563]:
#Answer
def replace_with_median (df_data, median):
  df_data['Age'] = df_data['Age'].fillna(value=median)
  return df_data

train = replace_with_median(train, AgeMedianTrain)
test = replace_with_median(test, AgeMedianTest)

In [564]:
grader.check('q12')

    All tests passed!


(13). In our initial calculation of the `PredGender` column, we made our prediction based on whether the individual was male or female.  In accordance to the [women and children first](https://en.wikipedia.org/wiki/Women_and_children_first) protocol, we hypothesize that our model could be improved by including whether the individual was a child in addition to gender. We also have a question, what age to use to determine "child"? (People weren't likely to check for IDs.)  We will check 2 ages...<13 and <18 (somewhat arbitrary but have to start somewhere) and see which yields a better accuracy. <br>

<br> 

Specifically, create 2 predictions as follows:

`train['PredGenderAge13']` should be the prediction incorporating both Gender (women survive) and Age (Children Age<13 survived while Age>=13 died)  <br>
`train['PredGenderAge18']` should be the prediction incorporating both Gender (women survive) and Age (Children Age<18 survived while Age>=18 died)  <br>

*The analysis assumes that you have addressed missing values in the earlier step and you should do it for both the train and test dataframes*

In [565]:
#Answer
def pred_age (df_data, age):
  condition1 = (df_data['Sex'] == 'male')
  condition2 = (df_data['Sex'] == 'female')
  condition3 = (df_data['Age'] < age)
  condition4 = (df_data['Age'] >= age)

  df_data.loc[condition2 | (condition3), 'PredGenderAge'+str(age)] = 1
  df_data.loc[df_data['PredGenderAge'+str(age)] != 1, 'PredGenderAge'+str(age)] = 0
  df_data['PredGenderAge'+str(age)] = df_data['PredGenderAge'+str(age)].astype(int)
  return df_data

train = pred_age(train, 13)
train = pred_age(train, 18)
test = pred_age(test, 13)
test = pred_age(test, 18)

In [566]:
grader.check('q13')

    All tests passed!

(14). Calculate the accuracy for your new predictions.  Use `PredGenderAge13` in the training set to calculate `AccGenderAge13` (you can use your function again!) and `PredGenderAge18` to calcuate `AccGenderAge18`.

In [567]:
#Answer
AccGenderAge13  = generate_accuracy(train.PredGenderAge13, train.Survived)
AccGenderAge18  = generate_accuracy(train.PredGenderAge18, train.Survived)

In [568]:
AccGenderAge18

77.32884399551067

In [569]:
AccGenderAge13

79.2368125701459

In [570]:
grader.check('q14')

    All tests passed!

(15). You should find that the accuracy is higher when using 13 as a designation for a child than 18. What does this tell you about the role of age in surviving a shipwreck?

In [571]:

man15="""
It has some positive correlation to the shipwreck survival, it seems like
younger children were more likely to survive during the tragedy.
"""

(16) Create a prediction file for the "women and children first" model in using the test dataset and upload it to Kaggle. Go through the process of uploading it to Kaggle. Put your Kaggle username so we can verify your prediction occued. 

**Make sure your submission file prediction is an integer and not at float. If you submit a float it may not work.**

In [572]:
kaggle_username="aiidenchen"
man15="https://www.kaggle.com/"+kaggle_username+"/competitions"
#This gives a link to your competition page
man15

#submitdie = generate_submission(test, 'PredGenderAge13', 'Predwomenchildrenfirst13.csv')
#submitdie = generate_submission(test, 'PredGenderAge18', 'Predwomenchildrenfirst18.csv')

'https://www.kaggle.com/aiidenchen/competitions'